:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --dark-blue: #2762b1;
  --light-blue: #b9dffc;
  --dark-yellow: #ff9f0e;
  --light-yellow: #ffdb95;
  --green: #00a473;
  --red: #fd5f3f;
  --red-hover: #ca4c32;
  --yellow-hover: #cc7f0b;
  --green-hover: #00835c;
  --blue-hover: #1f4e8e;
  --button-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  --lighter-button-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  --section-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  --section-hover: 0px 3px 14px 0px rgba(0, 0, 0, 0.35);

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "bree-serif";
  font-size: 2.8vw;
  font-weight: 400;
  line-height: 1.15;
  margin: 0;
}

h2 {
  font-family: "bree-serif";
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: "bree-serif";
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  width: 100%;
  color: white;
  padding: 12px 0;
  background-color: var(--dark-blue);
}

div {
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "poppins";
}

header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: white;
}

.logo-buttons {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  img {
    width: 36px;
  }

  .logo {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    align-items: center;
    justify-content: center;
  }
}

nav {
  width: 100%;
  background-color: var(--dark-blue);
  box-shadow: var(--section-shadow);
  display: flex;
  justify-content: center;
}

.nav-links {
  width: 100%;
  max-width: 1200px;
  height: 56px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-weight: 600;
  padding-top: 4px;
  font-size: 16px;
  color: white;
}

a {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  gap: 4px;
}

button {
  border-radius: 12px;
  border: none;
  padding: 6px 20px 4px;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 500;
  background-color: var(--dark-blue);
  cursor: pointer;
  box-shadow: var(--button-shadow);
  width: fit-content;
  text-wrap: nowrap;
}

button:hover {
  transition: 0.3s;
  background-color: var(--blue-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 116px;
}

.welcome-section {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;

  img {
    width: 50%;
    object-fit: cover;
  }
}

.intro {
  flex: 1;
  height: auto;
  background-color: var(--light-blue);
  display: flex;
  justify-content: end;
}

.intro-content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 16px;
  text-align: left;
  padding: 48px 32px 48px 0;

  div {
    font-weight: 500;
    font-size: 16px;
  }

  button {
    margin-top: 8px;
    padding: 8px 16px 5px 24px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  img {
    transform: translateY(-1px);
    width: 24px;
  }
}

.program-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;
}

.sidebar-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 29%;
  height: 100%;
  background-color: var(--light-yellow);
}

.program-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 71%;
  height: 100%;
  background-color: white;
}

.section-content {
  width: 100%;
  width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 1;
}

.sidebar-content {
  width: 29%;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 12px;
  text-align: left;
  padding: 32px 0;

  ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
  }

  button {
    font-size: 16px;
    font-weight: 600;
    padding: 18px 0 16px 24px;
    text-align: left;
    width: 248px;
    border-radius: 16px;
    background-color: white;
    color: black;
    box-shadow: var(--lighter-button-shadow);
  }

  button:hover,
  button:active {
    background-color: var(--dark-yellow);
    box-shadow: var(--button-shadow);
    color: white;
  }

  .clicked {
    background-color: var(--dark-yellow);
    box-shadow: var(--button-shadow);
    color: white;
  }
}

.program-content {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  padding: 32px 0;
  gap: 32px;
  text-align: left;
}

.program-intro {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.description {
  font-size: 14px;
  font-weight: 500;
}

.grades {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.more-grades {
  flex-flow: column nowrap;
  gap: 16px;
  display: none;
}

.more-grades.active {
  display: flex;
}

.grade-card {
  width: 100%;
  height: fit-content;
  border-radius: 18px;
  box-shadow: var(--section-shadow);
  position: relative;
  display: flex;
  flex-flow: row nowrap;
}

.grade-card:hover {
  transition: 0.3s;
  box-shadow: var(--section-hover);
}

#red {
  background-color: var(--red);
}

#yellow {
  background-color: var(--dark-yellow);
}

#green {
  background-color: var(--green);
}

#blue {
  background-color: var(--dark-blue);
}

.grade-num {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 56px;
  padding: 16px 0 0;
  width: 104px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.right-content {
  flex: 1;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 12px 24px;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.grade-buttons {
  display: flex;
  flex-flow: column nowrap;
  gap: 6px;

  .red {
    background-color: var(--red);
  }

  .red:hover {
    background-color: var(--red-hover);
  }

  .yellow {
    background-color: var(--dark-yellow);
  }

  .yellow:hover {
    background-color: var(--yellow-hover);
  }

  .green {
    background-color: var(--green);
  }

  .green:hover {
    background-color: var(--green-hover);
  }

  button {
    width: 160px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 0px 4px;
  }
}

.toggle {
  background-image: url("/toggle_down.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
}

.toggle.clicked {
  transition: 0.5s;
  transform: rotate(180deg);
}

.news-section {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.news {
  flex: 1;
  background-color: var(--light-blue);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.footer-left {
  height: 100%;
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 16px;

  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 24px;
  }

  .text {
    font-size: 14px;
    font-weight: 500;
  }
}

.links {
  display: flex;
  flex-flow: row nowrap;
  gap: 36px;

  a {
    font-weight: 600;
  }

  a:hover {
    color: var(--dark-blue);
  }
}

.footer-right {
  width: 360px;
  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    gap: 8px;
  }

  img {
    height: 48px;
  }
}

@media (width <= 1200px) {
  .logo-buttons,
  .nav-links {
    padding: 0 64px;
  }

  .intro-content {
    padding: 32px 64px;
  }

  .sidebar-content {
    padding: 0px 64px;
  }
}

@media (width > 1200px) {
  h1 {
    font-size: 38px;
  }

  /* .sidebar-bg {
    width: 40%;
  }

  .program-bg {
    width: 60%;
  } */
}

@media (width <= 800px) {
  /* placeholder */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
